.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5% 20%; 
}

@media only screen and (max-width: 600px) {
   .App {
    padding: 1%;
   } 
 }
 
td {
   background-color: turquoise;
 }

 
 
 
 
