.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5% 20%; 
}

@media only screen and (max-width: 1200px) {
   .App {
    padding: 1%;
    font-size: 12px;
   } 

   .hideMobile {
    display: none;
  }
 }

table {
  margin-top: 20px;
}
 
td {
   background-color: turquoise;
   padding: 3px;
 }

form {
  margin-top: 20px;
}

input {
  margin: 5px;
}


 
 
 
 
